body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 100px;
    background: rgba(255, 255, 255, 0.662);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.faq-item {
    margin-bottom: 5px;
}

.faq-item h3 {
    color: #021b35;
}

.faq-item p {
    color: #444;
    margin-left: 10px;
}
