<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Exam FAQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='FAQ.css') }}">
</head>
<body>
    <div class="faq-container">
        <h1>Final Exam - Frequently Asked Questions</h1>
        <br>
        <div class="faq-item">
            <h3> When is the final exam scheduled?</h3>
            <p> The final exam will be held during the last week of the semester. The exact date will be announced on the calendar page.</p>
        <br>
        </div>
        <div class="faq-item">
            <h3> Is the exam online or in person?</h3>
            <p> The exam will be conducted online with camera monitoring.</p>
        </div>
        <br>
        <div class="faq-item">
            <h3> Will i be tested on theory or coding?</h3>
            <p> The exam will focus mainly on practical coding questions.</p>
        </div>
        <br>
        <div class="faq-item">
            <h3> Will i get partial marks if part of my code works?</h3>
            <p> Yes.partial credit is awarded based on logic and functionality</p>
        </div>
        <br>
        <div class="faq-item">
            <h3> Who is allowed to take the exam?</h3>
            <p> only those Students who have taken the PYTHON or C++ course are allowed to take the exam.</p>
        </div>
        <br>
        <div class="faq-item">
            <h3> What is the minimum passing score for the exam?</h3>
            <p> A score of at least 50% is required to pass the exam. </p>
        </div>
        <br>
        <div class="faq-item">
            <h3> What should i do if i face any issues during the exam? </h3>
            <p> contact us on Telegram for support:<br>@paia_support</p>
        </div>
    </div>
</body>
</html>
