<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilan university</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='HomeStyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="glass-full">
        <div class="glass-content">   
            <div class="buttons"> 
            <a href="AdminLogin">Admin Login</a>
            <a href="StudentLogin">Student Login / Sign up </a>
            <a href="SeptemberTermCalender">September Term Calender</a>
            <a href="AvailableCourses">Available Courses</a>
            </div>
        </div>    
    </div>    
</body>
</html>
