<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Signup</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='studentsignup.css') }}">
    </form>
</head>
<body>
    <div class="Signup-container">
        <h2>sign up</h2>
        <form action="{{ url_for('StudentSignup') }}" method="POST">
        <input type="text" name="fname" placeholder="FirstName"><br>
        <input type="text" name="lname" placeholder="LastName"><br>
        <input type="text" name="dob"   placeholder="Date of Birthday(YYYY/MM/DD)"><br>
        <select name="gender" placeholder="Gender" required>
        <option value="female">Female</option>
        <option value="male">Male</option>
        </select><br>
        <input type="text" name="nid" placeholder="NationalID"><br>
        <input type="text" name="sid" placeholder="StudentID"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Signup</button>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            {% if message %}
            <p style="color: green;">{{ message }}</p>
            {% endif %}   
</body>
</html>
